

        /* ----- < 1024 ----- */

        @media only screen  and (max-width: 1024px) {
            .main-nav {
                display: none;
            }

            .tablet-nav {
                width: 100%;
                background: firebrick;
            }

            .menu {
                display: flex;
                padding: 0.75rem 0;
            }

            .menu span {
                margin: 0 auto;
            }

            .glasses {
                display: none;
            }

            .product {
                width: 47%;
            }

            #location-hours {
                width: 35%;
            }
        }


                /* ----- < 470----- */


@media only screen and (max-width: 470px) {

    .header-background {
        height: 15rem;
    }

    .new-arrival {
        padding-top: 1rem;
        padding-left: 2rem; 
        width: 100%;
        margin-top: 10rem;
    }

    .new-arrival span {
        font-size: 0.77rem;
        font-family: Helvetica;
        font-weight: bold;
        padding-top: 1rem;
    }

    .new-arrival h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    .main-container {
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .product-list {
        flex-direction: column;
        width: 98%;
       
    }

    .product {
        width: 100%;
        flex-wrap: wrap;
    }

    .info {
        flex-direction: column;
    }

    #location-hours {
        width: 100%;
    }
}